/* src/paginas/Inicio.css */
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  overflow: hidden;
}

.img-fixed {
  max-height: 100%;
  max-width: 60%;
  object-fit: cover;
}
